/*=================
       Responsiveness: 
       =======================*/

       /* Mobile Devices: */

       @media  screen and (max-width:687px) {
/* ---------initial section---------- */
        .initial-section{
            flex-direction: column;
        }
        .navigation-bar{
            display: none;
        }
        .initial-text{
            display: flex;
            flex-direction: column;
            order: 2;
        }
        .init-image img{
           margin: 0 auto;
           height: 275px;
           width: 275px;
           
        }
        .init-image{
            text-align: center;
        }
        .initial-text h1{
            font-size: 32px;
            white-space: wrap;
        }
        .initial-section{
           width: 100vw;
        }
        .initial-text{
            margin: 0 30px;
        }
        .logo-text{
            margin: auto;
        }
        body{
            margin:0 2%;
            
        }


 .popular-collection{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
.button-more{
    color:#E02C6D ;
    padding: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    
}

/* Newsletter */
.news-input input{
   
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}
.subscribe-button{
    font-size: 12px;
}
   }

   /*------------------
           Tablets 
              -------------- */
              @media screen and (min-width:688px) and (max-width:991px)  {
                  
              .popular-collection{
                  display: none;
              }
              
            .initial-section{display: flex;
                flex-direction: column;
                text-align: center;

            }
            .initial-text{
                display: flex;
                flex-direction: column;
                order: 2;
                margin-left: 130px;
            }

            .product-sectionx{
                display: block;
                width: 100vw;
                margin-left: 0;
                
                margin-bottom: 90px;


            }
            .x1,.x2,.x3{
                display: flex;
                margin-bottom: 20px;
            
            }
           .px{
               margin-left: 20px;
           }
           
            
              }