/*=================
       Responsiveness: 
       =======================*/

       /* Mobile Devices: */

       @media  screen and (max-width:576px) {
/* ---------initial section---------- */
        .initial-section{
            flex-direction: column;
            margin: 0 auto;
        }
        .navigation-bar{
            display: none;
        }
        .initial-text{
            display: flex;
            flex-direction: column;
            order: 2;
            margin: 0 20px;
        }
        .init-image img{
           margin: 0 auto;
           height: 275px;
           width: 275px;
           
        }
        .initial-text
        .initial-text h1{
            font-size: 32px;
            white-space: wrap;
        }
        .initial-section{
           width: 100vw;
        }
        .initial-text{
            margin: 0 30px;
        }
        .logo-text{
            margin: auto;
        }
        body{
            margin:0 2%;
            
        }


 .popular-collection{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
.button-more{
    color:#E02C6D ;
    padding: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    
}

/* Newsletter */
.news-input input{
   
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}
.subscribe-button{
    font-size: 12px;
}
   }

   /*------------------
           Tablets 
              -------------- */
              @media screen and (min-width:576px) and (max-width:768px)  {
                 body{
                     margin-left: 15%;
                 }
              .popular-collection{
                  display: none;
              }
              
            .initial-section{display: flex;
                flex-direction: column;
                text-align: center;
               

            }
            .initial-text{
                display: flex;
                flex-direction: column;
                order: 2;
                margin-left: 130px;
            }

            .product-sectionx{
                display: block;
                width: 100vw;
                margin-left: 40px;
                
                margin-bottom: 90px;


            }
            .x1,.x2,.x3{
                display: flex;
                margin-bottom: 20px;
            
            }
           .px{
               margin-left: 20px;
           }
           .product-alignment img{
               width: 150px;
               height:128px ;
           }
           
            
              }


              /*----------- 
              Laptop Screen Responsiveness:
              ---------
               */
               @media screen and (min-width:769px) and (max-width:1025px) {
                .initial-section{
                    width: 80vw;
                }
                .initial-text{
                  max-width: 30vw;
                  
                  font-size: 14px;
                }
                .initial-text h1{
                    font-size: 24px;
                }
                .init-image img{
                    width: 380px;
                    height: 380px;
                }

                .popular-collection{
                    display: none;
                }
                .product-sectionx{
                    display: block;
                    width: 100vw;
                    margin-left: 40px;
                    
                    margin-bottom: 90px;
    
    
                }
                .x1,.x2,.x3{
                    display: flex;
                    margin-bottom: 20px;
                
                }
               .px{
                   margin-left: 20px;
               }
               .initial-text{
                margin-right: 30px;
            }
            .product-alignment img{
                width: 225px;
                height:192px ;
            }
            .nav-item{
                margin-left: 10px;
                font-size: 14px;
            }  
            .header-container{
                position: relative;
            } 
            .navigation-bar{
                position: absolute;
                left: 260px;
                top: 5px;
            }
            .logo-text{
                font-size: 14px;
            }
               }