




/*==========
           utilities:
           ================= */
           @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');            
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0 10%;
    font-family: 'Poppins', sans-serif;
}
/*====================
            Styling for Header Section:
                    ========================= */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}


/*-------
        Navigation Styling: 
                    ---------*/
                    
.navigation-bar{
    display: flex;
    list-style: none;
}      
.nav-item{
    margin-left: 34px;
}   
            
/* =================
            Styling for Initial Section: 
                ===================*/
                         .prebook-button{
                             border: 0;
                             background-color: #E02C6D;
                             padding:15px 24px 15px 25px ;
                             border-radius: 20px;
                             color: rgb(250, 250, 250);
                             font-family: 'Poppins', sans-serif;
                             font-size: 16px;
                             font-weight: bold;
                         }
                         .initial-section{
                             display: flex;
                             align-items: center;
                             margin-bottom: 50px;
                         }
                         .initial-text{
                             margin-right: 133px;
                         }
                         .initial-text h1{
                             font-size: 52px;
                             white-space: nowrap;
                         }
                         .initial-text p{
                             margin:20px 0;
                             font-weight: 600;
                         }
                         .arrow-right{
                             margin-left: 10px;
                         }
                         .init-image img{
                             width: 550px;
                             height: 550px;
                         }
                        /* ------------animation---------- */
                        .influencer-anim{
                            position: relative;
                            color: transparent;
                        }
                        .influencer-anim::before{
                            content: 'Influencer';
                            position: absolute;
                            top: 0;
                            left: 0;
                            color:#E02C6D ;
                           
                        }
                        .initial-section:hover .influencer-anim::before{
                            animation: typing 3s ease-out infinite;
                        }
                        @keyframes typing {
                            0%{
                                content: 'I|';
                            }
                            6%{
                                content: 'In|';
                            }
                            12%{
                                content: 'Inf|';
                            }
                            18%{
                                content: 'Infl|';
                            }
                            24%{
                                content: 'Influ|';
                            }
                            30%{
                                content: 'Influe|';
                            }
                            36%{
                                content: 'Influen|';
                            }
                            42%{
                                content: 'Influenc|';
                            }
                            48%{
                                content: 'Influence|';
                            }
                            56%{
                                content: 'Influencer|';
                            }
                            60%,88%{
                                content: 'Influencer|';
                            }
                            
                            89%{
                                content: 'Influence|';
                            }
                            90%{
                                content: 'Influenc|';
                            }
                            91%{
                                content: 'Influen|';
                            }
                           92 %{
                                content: 'Influe|';
                            }
                            93%{
                                content: 'Influ|';
                            }
                           94%{
                                content: 'Infl|';
                            }
                            95%{
                                content: 'Infr|';
                            }
                            96%{
                                content: 'In|';
                            }
                            97%{
                                content: 'I|';
                            }
                           98 %{
                                content: '|';
                            }
                           99%{
                                content: '|';
                            }
                           100%{
                                content: '|';
                            }
                        }
/* ==================
       Styling for Product Section: 
              ========================*/


.product-section{
    text-align: center;
}
.product-section h1{
    margin: 30px;
    font-size: 30px;
    color: #3A3A3A;
}
.orange{
    color: orange;
}
.product-details p{
    font-size:28px ;
    font-weight: bold;
}
.product-details h3{
    font-size: 24px;
    font-weight: lighter;
}
.product{
    box-shadow: 10px 10px 30px rgb(212, 212, 212);
    border-radius: 10px;
}
.product-info .product-availablity{
    color: gray;
}
.grey-color{
    color: gray;
}
.product-alignment{
    padding: 17px 18px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr) 200px;
    grid-gap:30px 30px ;
    margin-bottom: 30px;
    
}
.button-more{
    color:#E02C6D ;
    padding: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1/span 3;
}
.button-more a{
    text-decoration: none;
    color:#E02C6D ;
    font-weight: bold;
    font-size: 18px;
    
}
/* =================
           Styling for Footer Section: 
                  ========================*/
footer{
    background-color:rgb(10, 8, 38);
    color: white;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 90px;
}
.footer-elements{
    padding: 50px 0;
}
.social i{
    font-size: 20px;
    margin-left: 15px;
    background-image: linear-gradient(rgb(36, 43, 58),rgb(53, 54, 95));
    padding: 15px;
    border-radius: 45%;
    

}
.footer-elements>small{
    margin-bottom: 20px;
    
}
/* ===================
       Monthly Newsletter Styling:
           ========================== */
           .monthly-newsletter{
               text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;
           }
           .news-title p{
               margin: 30px 0;
               font-size: 20px;
           }
           .news-input{
display: flex;
flex-direction: column;
width: 30vw;
;
font-family: 'Poppins', sans-serif;
           }
.news-input input,button{
    outline: 0;
    padding: 15px;
    margin: 5px 0;
    font-size: 20px;
   
}
.news-input input{
    border-radius: 10px;
    border: gray 1px solid;
    font-size: 18px;
    font-weight: lighter;
}
.subscribe-button{
    border: 0;
    background-color: #E02C6D;
    padding:15px 24px 15px 25px ;
    border-radius: 20px;
    color: rgb(250, 250, 250);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;

}


